* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
  
html {
  height: 100%;
}

body {
	padding: 0;
  color: #555;
  background-color: rgb(0, 68, 102);
	min-height: 100%;
	display: flex;
	justify-content: center;
}
